table {
    width: 100%;
  }
  .green {
  color:green;
  }
  .red {
  color:red;
  }  
  .space2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  background-color: #B3C7D6FF;
  color: #2460A7FF;

  }
  
  .bold {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 0.5px 0.2px black;
  margin-left: 10px;
  }
  
  .bold3 {
  margin-top: 20px;
  }
  
  ::-webkit-file-upload-button {
    background: #B3C7D6FF;
    color: #2460A7FF;
    padding: 0.6em;
  border-radius: 5px;
    width:100px;
  }

  .button2 {
    background-color: #85B3D1FF;
    margin-right: 30px;
    width:100px;
    color: #2460A7FF;

  } 

  .button4 {
    background-color: #D9B48FFF;
    color: #2460A7FF;
    width:100px;
    margin-right: 100px;

  } 
  
  tr:hover{
    background-color: #ededee;
  }


