<!-- 
<addcustomer [hidden] = "!addBookFormOpen"
[name] = "'fghfg'"
[email] = "'hgl'"
[phone] = "'hgne'"
[formType] = "'update book'"
>
</addcustomer> -->

<div *ngIf = "!(authService.getUser() | async)">Sorry, you do not have permission to view this page :(
  <P>please click on one of the links on the left</P></div>
<div *ngIf = "(authService.getUser() | async)">
  <!-- <h1>Customers</h1> -->
<div style="margin-top: 40px; margin-bottom: 40px; text-align: center; font-size: 40px; text-decoration: none;" class="bold">Customers Prediction</div>
<div style="margin-top: 40px; margin-bottom: 40px; text-align: center; font-size: 15px; text-decoration: none;">This page represent customers contact details, allow you to upload a CSV file that contain customers details, and predict wheather they will leave or not.</div>

<div style="text-align: center;">
  
  <button class="button4"
  mat-raised-button
  color = 'warn'
  (click) = "deleteCustomer()">
  Delete All
  </button> 

<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"/>

    <button class="button2" mat-raised-button color="accent"
    style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;"
    (click) = "predict()"
    >Predict
    </button> 

</div>
<table mat-table [dataSource]="customers" class="mat-elevation-z8" *ngIf ="!addBookFormOpen">

 <!-- name Column -->
 <ng-container matColumnDef="name">
   <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: large; background-color: #dedee4; width:25%"> Name </th>
   <td mat-cell *matCellDef="let element; let i = index">
     <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
     <mat-form-field *ngIf = "i==rowToEdit"> <!-- ברגע שהתנאי מתקיים אז נוכל להיות במצב של עריכה -->
       <input size="4"   
         matInput
         [(ngModel)]="customerToEdit.name" 
         [value] = "element.name"            
       >
     </mat-form-field>
   </td>
 </ng-container>

   <!-- phone Column -->
   <ng-container matColumnDef="phone">
     <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: large; background-color: #dedee4; width:25%"> phone </th>
     <td mat-cell *matCellDef="let element; let i = index">
       <span *ngIf = "i!=rowToEdit">{{element.phone}}</span> 
       <mat-form-field *ngIf = "i==rowToEdit" > 
         <input          
           matInput
           [(ngModel)]="customerToEdit.phone" 
           [value] = "element.phone"            
         >
       </mat-form-field>
     </td>
   </ng-container>

     <!-- email Column -->
     <ng-container matColumnDef="email">
       <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: large; background-color: #dedee4;"> email </th>
       <td mat-cell *matCellDef="let element; let i = index">
         <span *ngIf = "i!=rowToEdit">{{element.email}}</span> 
         <mat-form-field *ngIf = "i==rowToEdit" > 
           <input          
             matInput
             [(ngModel)]="customerToEdit.email" 
             [value] = "element.phone"            
           >
         </mat-form-field>
       </td>
     </ng-container>

 <!-- age Column -->
 <!-- <ng-container matColumnDef="age">
   <th mat-header-cell *matHeaderCellDef> age </th>
   <td mat-cell *matCellDef="let element; let i = index">
     <span *ngIf = "i!=rowToEdit">{{element.age}}</span> 
     <mat-form-field *ngIf = "i==rowToEdit" > 
       <input          
         matInput
         [(ngModel)]="customerToEdit.age" 
         [value] = "element.age"            
       >
     </mat-form-field>
   </td>
 </ng-container> -->


   <!-- main_city_sail Column -->
   <!-- <ng-container matColumnDef="main_city_sail">
     <th mat-header-cell *matHeaderCellDef> main_city_sail </th>
     <td mat-cell *matCellDef="let element; let i = index">
       <span *ngIf = "i!=rowToEdit">{{element.main_city_sail}}</span> 
       <mat-form-field *ngIf = "i==rowToEdit" > 
         <input          
           matInput
           [(ngModel)]="customerToEdit.main_city_sail" 
           [value] = "element.main_city_sail"            
         >
       </mat-form-field>
     </td>
   </ng-container> -->

  <!-- student Column -->
  <!-- <ng-container matColumnDef="student">
   <th mat-header-cell *matHeaderCellDef> student </th>
   <td mat-cell *matCellDef="let element; let i = index">
     <span *ngIf = "i!=rowToEdit">{{element.student}}</span> 
     <mat-form-field *ngIf = "i==rowToEdit" > 
       <input          
         matInput
         [(ngModel)]="customerToEdit.student" 
         [value] = "element.student"            
       >
     </mat-form-field>
   </td>
 </ng-container> -->

   <!-- Utilizing_card_1 Column-->
   <!-- <ng-container matColumnDef="Utilizing_card_1">
       <th mat-header-cell *matHeaderCellDef  > Utilizing_card_1 </th>
       <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_1}}  </td>
     </ng-container>  -->

         <!-- Utilizing_card_2 Column-->
   <!-- <ng-container matColumnDef="Utilizing_card_2">
       <th mat-header-cell *matHeaderCellDef  > Utilizing_card_2 </th>
       <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_2}}  </td>
     </ng-container>  -->

         <!-- Utilizing_card_3 Column-->
   <!-- <ng-container matColumnDef="Utilizing_card_3">
       <th mat-header-cell *matHeaderCellDef  > Utilizing_card_3 </th>
       <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_3}}  </td>
     </ng-container>  -->

         <!-- Utilizing_card_4 Column-->
   <!-- <ng-container matColumnDef="Utilizing_card_4">
       <th mat-header-cell *matHeaderCellDef  > Utilizing_card_4 </th>
       <td mat-cell *matCellDef="let element" > {{element.Utilizing_card_4}}  </td>
     </ng-container>  -->

         <!-- perc_private Column-->
   <!-- <ng-container matColumnDef="perc_private">
       <th mat-header-cell *matHeaderCellDef  > perc_private </th>
       <td mat-cell *matCellDef="let element" > {{element.perc_private}}  </td>
     </ng-container>  -->


         <!-- perc_proff Column-->
   <!-- <ng-container matColumnDef="perc_proff">
       <th mat-header-cell *matHeaderCellDef  > perc_proff </th>
       <td mat-cell *matCellDef="let element" > {{element.perc_proff}}  </td>
     </ng-container>  -->

     <ng-container matColumnDef="predict">
       <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: large; background-color: #dedee4;"> predict </th>
       <td mat-cell *matCellDef="let element">
         <span  *ngIf="element.predict=='will not leave'" style="color:green">{{element.predict}}</span>
         <span  *ngIf="element.predict=='will leave'" style="color:red">{{element.predict}}</span>
       </td>
     </ng-container>

     <!-- <ng-container matColumnDef="delete">
       <th mat-header-cell *matHeaderCellDef> Delete </th>
       <td mat-cell *matCellDef="let element; let i = index">
         <button 
           mat-raised-button
           color = 'warn'
           (click) = "deleteCustomer(i)">
           Delete
         </button>                  
       </td>
     </ng-container>   
     
     <ng-container matColumnDef="edit">
       <th mat-header-cell *matHeaderCellDef> Edit </th>
       <td mat-cell *matCellDef="let element; let i = index">
         <button 
           *ngIf = "i!=rowToEdit"
           mat-raised-button
           (click) = "moveToEditState(i)"
         >
           Edit
         </button> 
         <button 
           *ngIf = "i==rowToEdit"
           mat-raised-button
           color="primary"
           (click) = "updateCustomer()"
         >
           save
         </button> 
         <button 
           *ngIf = "i==rowToEdit"
           mat-raised-button
           (click) = "rowToEdit = null"
         >
           Cancel
         </button>                   
       </td>
     </ng-container>   -->

   
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


    
     <!-- דפדןף
     <div class="bold3" style="text-align: center;">
       <button mat-raised-button class="space2"
       color="primary"
       (click) = "previewsPage()">
       Previews Page
      </button>   
       <button mat-raised-button class="space2"
       color="primary"
       (click) = "nextPage()">
       Next Page
      </button>   
     </div>
   </div> -->

