.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.whitelink{
  color:white;
  text-decoration: none;
  margin-left: 10px;
}

.spacer{
  width:100%;
}

.whitelink1 {
  color:white;
  text-decoration:none;
  margin-left:5px;
  cursor: pointer; 
}

.titleh1{
   color: black; font-family: 'Lobster', cursive; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }