<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a> 
      <a mat-list-item routerLink="/leaves" routerLinkActive="active">Leave Customers</a> 
      <!-- <a mat-list-item routerLink="/add" routerLinkActive="active">add</a>  -->

       <!-- <a mat-list-item routerLink="/signup" *ngIf = "!(authService.getUser() | async)">Sign-Up</a> 
       <a mat-list-item routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
       <a mat-list-item (click) = "authService.Logout()" *ngIf = "(authService.getUser() | async)">LogOut</a> -->
      </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span class="titleh1"><a class = "whitelink" routerLink="/welcome">Sailor</a></span>
      <span class="spacer"></span>
      <!-- <a mat-list-item routerLink="/signup" *ngIf = "!(authService.getUser() | async)">Sign-Up</a>  -->
      <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a class = "whitelink1" (click) = "authService.Logout()" *ngIf = "(authService.getUser() | async)">LogOut</a>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
