.error{
    color: red;
}

.bold {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0.5px 0.2px black;
    margin-left: -5px;
  }

  mat-form-field {
    margin-right: 12px;
  }