<!-- <p *ngIf = "!(auth.getUser()|async)">please login!</p> -->

<div *ngIf = "(authService.isGuide | async)">Sorry, you do not have permission to view this page :(
    <P>please click on one of the links on the left</P></div>
  <mat-card *ngIf = "(authService.isSecretary | async)">
    <!-- <mat-card *ngIf = "(auth.getUser()|async)"> -->
      <mat-card>
  
        <div style=" font-size:25px; margin-top: 0px; margin-bottom: 10px;" class="bold">Add Customer</div>
        <form #customersForm="ngForm">
      <div class="example-container">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>name</mat-label>
              <input matInput 
                [(ngModel)] = "name" 
                name = "name" 
                type = "string"
                required>
            </mat-form-field>
          </p>     
          <p>
            <mat-form-field appearance="standard">
              <mat-label>phone</mat-label>
              <input matInput 
                [(ngModel)] = "phone" 
                name = "phone" 
                type = "string"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>email</mat-label>
              <input matInput 
                [(ngModel)] = "email"
                name = "email"
                type = "string"
                required>
            </mat-form-field>
          </p> 
  
          <p>
          <mat-form-field appearance="standard">
            <mat-label>age</mat-label>
            <mat-select [(ngModel)]="age" name = "age" required>
              <mat-option>None</mat-option>
              <mat-option value="19-30">19-30</mat-option>
              <mat-option value="31-40">31-40</mat-option>
              <mat-option value="51-60">51-60</mat-option>
              <mat-option value="60-80">60-80</mat-option>
            </mat-select>
          </mat-form-field>
        </p>   
  
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>more_than_1_card</mat-label>
              <mat-select [(ngModel)]="more_than_1_card" name = "more_than_1_card" required>
                <mat-option>None</mat-option>
                <mat-option value="yes">yes</mat-option>
                <mat-option value="no">no</mat-option>
              </mat-select>
            </mat-form-field>
          </p> 
  
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>student</mat-label>
              <mat-select [(ngModel)]="student" name = "student" required>
                <mat-option>None</mat-option>
                <mat-option value="yes">yes</mat-option>
                <mat-option value="no">no</mat-option>
              </mat-select>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>main_city_sail</mat-label>
              <mat-select [(ngModel)]="main_city_sail" name = "main_city_sail" required>
                <mat-option>None</mat-option>
                <mat-option value="y">Jaffa</mat-option>
                <mat-option value="h">Hertzelia</mat-option>
              </mat-select>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_1</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_1"
                name = "Utilizing_card_1"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_2</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_2"
                name = "Utilizing_card_2"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_3</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_3"
                name = "Utilizing_card_3"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Utilizing_card_4</mat-label>
              <input matInput 
                [(ngModel)] = "Utilizing_card_4"
                name = "Utilizing_card_4"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>perc_private</mat-label>
              <input matInput 
                [(ngModel)] = "perc_private"
                name = "perc_private"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>perc_proff</mat-label>
              <input matInput 
                [(ngModel)] = "perc_proff"
                name = "perc_proff"
                type = "number"
                step="0.1"
                min="0"
                required>
            </mat-form-field>
          </p> 
  
          
  
          <p>
        <div>
            <!-- <button mat-raised-button color="primary"  [disabled]="!studentsForm.form.valid" *ngIf="button" (click)="predict()">
                     predict
            </button> -->
            <button mat-raised-button color="primary"  (click)="save()">
                +Add Customer
            </button>
            <!-- <button *ngIf="!button" mat-raised-button (click)="cancel()">
                Cancel
            </button>      -->
            
            
        </div>
      </div>
      <!-- <p *ngIf="err">{{errMassage}}</p> -->
  
    </form>
   </mat-card>
  
  
  
  
  