<div *ngIf = "!(authService.getUser() | async)">Sorry, you do not have permission to view this page :(
  <P>please click on one of the links on the left</P></div>
<div *ngIf = "(authService.getUser() | async)">
    <div style="margin-top: 40px; margin-bottom: 40px; text-align: center; font-size: 40px; text-decoration: none;" class="bold">Leave Customers Prediction</div>
    <div style="margin-top: 40px; margin-bottom: 40px; text-align: center; font-size: 15px; text-decoration: none;">This page represent the customers that will leave accroding the prediction, details about them and their activity</div>

  <div>
    <!-- <button mat-raised-button color="accent"
    (click) = "predict()"
    >predict
    </button>  -->
  
    <!-- <button mat-raised-button color="accent"
    (click) = "getCustomersLeave()"
    >show only leave
    </button>  -->
  
  </div>
  <table mat-table [dataSource]="customers" class="mat-elevation-z8">
  
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> name </th>
      <td mat-cell *matCellDef="let element" > {{element.name}}  </td>
    </ng-container> 
  
      <!-- phone Column -->
      <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> phone </th>
          <td mat-cell *matCellDef="let element" > {{element.phone}}  </td>
        </ng-container> 
  
        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> email </th>
          <td mat-cell *matCellDef="let element" > {{element.email}}  </td>
        </ng-container> 
  
  
    <!-- age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> age </th>
      <td mat-cell *matCellDef="let element" > {{element.age}}  </td>
    </ng-container> 
  
    <!-- more_than_1_card Column -->
    <ng-container matColumnDef="more_than_1_card">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%" > more_than_1_card </th>
      <td mat-cell *matCellDef="let element" > {{element.more_than_1_card}}  </td>
    </ng-container> 
  
      <!-- main_city_sail Column -->
      <ng-container matColumnDef="main_city_sail">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%" > main_city_sail </th>
          <td mat-cell *matCellDef="let element" > {{element.main_city_sail}}  </td>
        </ng-container> 
  
  
     <!-- student Column -->
     <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> student </th>
      <td mat-cell *matCellDef="let element" > {{element.student}}  </td>
    </ng-container> 
  
  
            <!-- Utilizing_card_3 Column-->
      <ng-container matColumnDef="Utilizing_card">
          <th mat-header-cell *matHeaderCellDef  style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> Utilizing_card </th>
          <td mat-cell *matCellDef="let element" > {{element.Utilizing_card}}  </td>
        </ng-container> 
  
            <!-- Utilizing_card_4 Column-->
      <ng-container matColumnDef="S_Utilizing_card">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%" > S_Utilizing_card </th>
          <td mat-cell *matCellDef="let element" > {{element.S_Utilizing_card}}  </td>
        </ng-container> 
  
            <!-- perc_private Column-->
      <ng-container matColumnDef="perc_private">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%" > perc_private </th>
          <td mat-cell *matCellDef="let element" > {{element.perc_private}}  </td>
        </ng-container> 
  
  
            <!-- perc_proff Column-->
      <ng-container matColumnDef="perc_proff">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%" > perc_proff </th>
          <td mat-cell *matCellDef="let element" > {{element.perc_proff}}  </td>
        </ng-container> 
  
  
  
        <ng-container matColumnDef="predict">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: small; background-color: #dedee4; width:5%"> predict </th>
          <td mat-cell *matCellDef="let element">
            <span  *ngIf="element.predict=='will not leave'" style="color:green">{{element.predict}}</span>
            <span  *ngIf="element.predict=='will leave'" style="color:red">{{element.predict}}</span>
      
          </td>
        </ng-container>
  
     
        <!-- <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button 
              mat-raised-button
            >
              Edit
            </button> 
                       
          </td>
        </ng-container>   -->
  
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  
         <!--דפדןף-->
         <!-- <div class="bold3" style="text-align: center;">
          <button mat-raised-button class="space2"
          color="primary"
          (click) = "previewsPage()">
          Previews Page
         </button>   
          <button mat-raised-button class="space2"
          color="primary"
          (click) = "nextPage()">
          Next Page
         </button>   
        </div>
      </div>
       -->
  
  