table {
    width: 100%;
  }
  .green {
  color:green;
  }
  .red {
  color:red;
  }  
  .space2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    background-color: #B3C7D6FF;
    color: #2460A7FF;
  
    }
  
  .bold {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 0.5px 0.2px black;
  margin-left: 10px;
  }
  
  .bold3 {
  margin-top: 20px;
  }
  